html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/***************************************************************************
 * SASS VARIABLES
 ***************************************************************************/
/***************************************************************************
 * SASS MIXINS
 ***************************************************************************/
/***************************************************************************
 * BASE STYLES
 ***************************************************************************/
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

/**
 * Basic styles
 */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  position: relative; }

h1, h2, h3 {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; }

q {
  font-style: italic;
  font-weight: 100; }
q:before {
  content: "\201C"; }
q:after {
  content: "\201D"; }

span {
  vertical-align: middle; }

/*
 * Basic positions
 */
section, header {
  position: relative; }

/**
 * Basic styles for links
 */
a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  line-height: 36px; }

/*
 * Basic button styles
 */
button {
  outline: none;
  cursor: pointer; }

/***************************************************************************
 * HELPERS STYLES
 ***************************************************************************/
/* Styles used for hiding or showing elements
***************************************************/
/*
 * Hide elements at small viewport size
 */
.hidden-small {
  display: none; }
@media (min-width: 800px) {
  .hidden-small {
    display: block; } }

/*
 * Hide elements at small viewport size
 */
.hidden-medium {
  display: block; }
@media (min-width: 800px) {
  .hidden-medium {
    display: none; } }

/*
 * Hides item
 */
.hidden {
  display: none; }

/*
 * Displays item
 */
.displayed {
  display: inline-block; }

/* Styles used for modifying colours
***************************************************/
/*
 * White text or svg
 */
.white {
  color: #fff;
  fill: #fff; }

/*
 * Black text or svg
 */
.black {
  color: #000;
  fill: #000; }

/*
 * Changes the background color from white at small size
 * to black at large size
 */
.white-to-black {
  color: #fff; }
@media (min-width: 800px) {
  .white-to-black {
    color: #000; } }

/*
 * Changes the background color from black at small size
 * to white at large size
 */
.black-to-white {
  color: #000; }
@media (min-width: 800px) {
  .black-to-white {
    color: #fff; } }

/*
 * Applies the svg greyscale filter at large vieport size
 * and removes it on hover
 */
@media (min-width: 800px) {
  .hover-color {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .hover-color:hover {
    -webkit-filter: none;
    filter: none; } }

/***************************************************************************
 * LAYOUT STYLES
 ***************************************************************************/
.l-panel_superposed, .l-panel_following {
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100vh; }

.l-panel_following {
  height: 200vh; }
@media (min-width: 800px) {
  .l-panel_following {
    height: 100vh; } }

.l-panel-left {
  top: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 54px; }
@media (min-width: 800px) {
  .l-panel-left {
    width: 50%;
    left: 0; } }

.l-panel-right {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 54px; }
@media (min-width: 800px) {
  .l-panel-right {
    width: 50%;
    right: 0; } }

.l-panel-bottom, .l-panel-top {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 54px; }
@media (min-width: 800px) {
  .l-panel-bottom, .l-panel-top {
    width: 50%;
    position: static;
    height: auto;
    top: 0; } }

.l-panel-bottom {
  top: 100vh; }

/***************************************************************************
 * FOOTER STYLES
 ***************************************************************************/
.footer {
  height: 48px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;
  margin-bottom: 0;
  text-align: center;
  font-size: 10.66667px;
  line-height: 16px;
  vertical-align: middle;
  color: #fff;
  background-color: #000; }
@media (min-width: 450px) {
  .footer {
    height: 72px;
    font-size: 16px;
    line-height: 24px; } }

.footer a {
  line-height: 16px; }

/***************************************************************************
 * NAVIGATION INDICATOR STYLES
 ***************************************************************************/
.indicator-container {
  display: none; }
@media (min-width: 800px) {
  .indicator-container {
    display: block;
    position: fixed;
    height: 100vh;
    width: 7.11111px;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #999; } }

.indicator-slider {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 0%;
  background-color: #DDD; }

.page-indicator {
  position: fixed;
  top: 16px;
  right: 16px;
  color: #999;
  z-index: 1; }
@media (min-width: 800px) {
  .page-indicator {
    display: none; } }

/***************************************************************************
 * TITLES STYLES
 ***************************************************************************/
.section-title, .work-title {
  width: 100%;
  text-align: center;
  font-size: 54px;
  line-height: 81px;
  margin-top: 16px; }

.subtitle, .work-subtitle {
  width: 100%;
  text-align: center;
  font-size: 54px;
  line-height: 81px; }
@media (min-width: 800px) {
  .subtitle, .work-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 81px;
    margin-top: 0; } }

.elem-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 81px;
  text-align: center; }

/***************************************************************************
 * CAROUSEL STYLES
 ***************************************************************************/
.carousel-container {
  position: absolute;
  width: 100%;
  max-width: 600px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.carousel, .carousel-item, .carousel-thumbnail {
  position: relative;
  width: 100%; }

@media (min-width: 800px) {
  .carousel-item {
    margin-top: 16px; } }

.carousel-nav {
  position: absolute;
  width: 300px;
  top: 93px;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.carousel-left-link, .carousel-right-link {
  position: absolute;
  width: 36px;
  height: 36px;
  padding: 10px 0; }

.carousel-left-link {
  left: 0; }

.carousel-right-link {
  right: 0; }

/***************************************************************************
 * WIDGET STYLES
 ***************************************************************************/
.widget {
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto; }

/***************************************************************************
 * HEADER PANEL STYLES
 ***************************************************************************/
.header {
  background-color: #000;
  color: #fff;
  overflow: hidden; }

.header-logo {
  text-align: center; }

.header-title {
  margin-top: 16.7vh;
  font-size: 36px;
  line-height: 54px; }
@media (min-width: 450px) {
  .header-title {
    font-size: 54px;
    line-height: 81px; } }

.header-subtitle {
  font-size: 16px; }

.header-photo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 81px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #ff8000; }

.header-banner {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-grey.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-grey.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
@media (min-width: 800px) {
  .header-banner {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/banner-grey.jpg");
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/banner-grey.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; } }

/***************************************************************************
 * WORK PANEL STYLES
 ***************************************************************************/
.work {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #ffffff 50%, #000000 50%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #000000 50%); }
@media (min-width: 800px) {
  .work {
    background-image: -webkit-linear-gradient(left, #ffffff 50%, #000000 50%);
    background-image: linear-gradient(to right, #ffffff 50%, #000000 50%); } }

.work-list {
  width: 100%;
  text-align: center; }
@media (min-width: 800px) {
  .work-list {
    text-align: left;
    text-indent: 75px; } }

.work-title {
  width: 50%; }

@media (min-width: 800px) {
  .work-subtitle {
    width: 50%;
    text-align: left;
    text-indent: 100px; } }

.work-description, .widget-description {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  margin-top: 16px; }

.widget-description {
  width: 300px;
  text-align: center; }

.work-item {
  position: relative; }

.source-link {
  display: inline;
  width: 24px;
  text-align: center;
  vertical-align: text-bottom; }
@media (min-width: 800px) {
  .source-link {
    position: absolute;
    left: 250px;
    fill: #000; } }

.right-container {
  position: relative;
  margin-bottom: 54px; }
@media (min-width: 800px) {
  .right-container {
    position: absolute;
    width: 50%;
    top: 67.5px;
    left: 100%;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    background-color: red; } }

/***************************************************************************
 * PERSO PANEL STYLES
 ***************************************************************************/
.perso {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #ffffff 50%, #000000 50%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #000000 50%); }
@media (min-width: 800px) {
  .perso {
    background-image: -webkit-linear-gradient(right, #ffffff 50%, #000000 50%);
    background-image: linear-gradient(to left, #ffffff 50%, #000000 50%); } }

.skill-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 81px;
  text-align: center; }
@media (min-width: 1200px) {
  .skill-subtitle {
    text-align: left;
    text-indent: 100px; } }

.about-paragraph, .skill-paragraph, .skill-intro {
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-indent: 2.25em;
  width: 83%; }
@media (min-width: 450px) {
  .about-paragraph, .skill-paragraph, .skill-intro {
    width: 66%; } }
@media (min-width: 800px) {
  .about-paragraph, .skill-paragraph, .skill-intro {
    width: 83%; } }
@media (min-width: 1200px) {
  .about-paragraph, .skill-paragraph, .skill-intro {
    width: 66%; } }

.about-paragraph {
  margin-bottom: 16px; }

.skills-list {
  text-align: center;
  line-height: 24px; }
@media (min-width: 1200px) {
  .skills-list {
    text-align: left;
    text-indent: 150px; } }

/***************************************************************************
 * CONTACT PANEL STYLES
 ***************************************************************************/
.contact-title {
  width: 100%;
  text-align: center;
  font-size: 54px;
  line-height: 81px; }
@media (min-width: 800px) {
  .contact-title {
    width: 50%; } }

.contact-img {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/contact.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/contact.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1; }
@media (min-width: 800px) {
  .contact-img {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contact.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contact.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; } }

.contact-list {
  position: relative;
  z-index: 1;
  width: 66%;
  min-width: 300px;
  max-width: 600px;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-indent: 16px; }
@media (min-width: 450px) {
  .contact-list {
    text-indent: 0; } }
@media (min-width: 800px) {
  .contact-list {
    width: 33%;
    left: 25%; } }

.contact-item {
  line-height: 81px;
  vertical-align: middle; }

.contact-icon {
  width: 36px;
  height: 36px;
  vertical-align: middle; }

/***************************************************************************
 * CALCULATOR STYLES
 ***************************************************************************/
/* general layout and style
****************************/
.cal-calculator {
  border: 2px solid #17191c;
  border-radius: 10px;
  background-color: #f0e6d1;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0));
  box-shadow: 2px 4px 4px #0d1526, inset 1px 2px 2px #f9f4ec, inset -1px -2px 2px #f9f4ec; }

.cal-display {
  width: 225px;
  height: 53px;
  margin: 40px auto 40px;
  border: 1px solid black;
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 30px;
  line-height: 51px;
  vertical-align: center;
  text-align: right;
  letter-spacing: -2px;
  background-color: #e5e5e6; }

.cal-sign {
  float: left;
  padding-left: 3px; }

.cal-output {
  float: right;
  padding-right: 3px; }

.cal-key-container {
  width: 225px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

/* buttons layout
****************************/
.cal-button {
  height: 30px;
  width: 40px;
  position: absolute;
  font-size: 17px; }

.cal-first-col {
  left: 0; }

.cal-second-col {
  left: 62px; }

.cal-third-col {
  left: 124px; }

.cal-fourth-col {
  right: 0; }

.cal-first-row {
  top: 0; }

.cal-second-row {
  top: 49px; }

.cal-third-row {
  top: 98px; }

.cal-fourth-row {
  top: 147px; }

.cal-fifth-row {
  bottom: 0; }

.cal-span-two-cols {
  width: 102px; }

.cal-span-two-rows {
  height: 78px; }

/* buttons style
****************************/
.cal-button {
  border-radius: 4px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)); }

.cal-number-keys .cal-button, #equal {
  background-color: #abb0ba; }

.cal-operand-keys .cal-button {
  background-color: #bab5ab; }

.cal-clear {
  background-color: tomato; }

.cal-button:hover {
  cursor: pointer; }

.cal-button:focus {
  outline: 0; }

/***************************************************************************
 * SIMON GAME STYLES
 ***************************************************************************/
/* Base styles
********************************************/
.sim-wrap {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  position: relative; }

.sim-controls, .sim-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* Controls styles
********************************************/
.sim-controls {
  width: 120px;
  height: 120px;
  background-color: #141c1f;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  z-index: 1; }

.sim-label {
  position: absolute;
  top: 45px; }

.sim-label-start {
  left: 20px; }

.sim-label-strict {
  right: 20px; }

.sim-start-btn, .sim-strict-btn {
  position: absolute;
  top: 28px;
  width: 15px;
  height: 15px;
  border-width: 0px;
  border-radius: 50%; }

.sim-start-btn {
  left: 28px;
  background-color: red; }

.sim-strict-btn {
  right: 28px;
  background-color: #b4e600; }

.sim-start-btn:active, .s-strict-btn.active {
  border: 2px solid white; }

.sim-output {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  bottom: 20px;
  font-size: 16px; }

/* Color Buttons Styles
********************************************/
.sim-buttons {
  width: 100%;
  height: 75%;
  border-radius: 50%;
  border: 10px solid #141c1f;
  box-shadow: 0 0 10px #141c1f; }

.sim-color-button {
  position: absolute;
  border: 10px solid #141c1f;
  width: 50%;
  height: 50%; }

.sim-green-button {
  left: 0;
  top: 0;
  border-top-left-radius: 100%;
  background-color: green;
  background-image: -webkit-radial-gradient(bottom right circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  background-image: radial-gradient(circle at bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%); }

.sim-green-button.active {
  background-image: -webkit-radial-gradient(bottom right circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.7) 100%);
  background-image: radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.7) 100%); }

.sim-red-button {
  right: 0;
  top: 0;
  border-top-right-radius: 100%;
  background-color: red;
  background-image: -webkit-radial-gradient(bottom left circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  background-image: radial-gradient(circle at bottom left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%); }

.sim-red-button.active {
  background-image: -webkit-radial-gradient(bottom left circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.7) 100%);
  background-image: radial-gradient(circle at bottom left, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.7) 100%); }

.sim-blue-button {
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 100%;
  background-color: blue;
  background-image: -webkit-radial-gradient(top left circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  background-image: radial-gradient(circle at top left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%); }

.sim-blue-button.active {
  background-image: -webkit-radial-gradient(top left circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.7) 100%);
  background-image: radial-gradient(circle at top left, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.7) 100%); }

.sim-yellow-button {
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 100%;
  background-color: yellow;
  background-image: -webkit-radial-gradient(top right circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  background-image: radial-gradient(circle at top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%); }

.sim-yellow-button.active {
  background-image: -webkit-radial-gradient(top right circle, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
  background-image: radial-gradient(circle at top right, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%); }

/***************************************************************************
 * NOUGHT & CROSSES STYLES
 ***************************************************************************/
.tic-wrap {
  font-size: 30px;
  text-align: center;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: white; }

.tic-table {
  width: 100%;
  height: 75%;
  text-align: center;
  font-size: 80px;
  /* <trolling the designer> */
  font-family: "Comic Sans MS", cursive, sans-serif;
  /* </trolling> */
  border-collapse: collapse;
  border-style: hidden; }

.tic-cell {
  border: 4px solid white;
  text-align: center;
  width: 100px;
  height: 100px; }

.tic-hidden {
  display: none; }

.tic-btn {
  border-width: 0px;
  color: red;
  background-color: black;
  outline: none;
  font-size: 40px;
  padding: 30px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px; }

.tic-rules {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 2em; }

.tic-message {
  margin-bottom: 50px; }

/***************************************************************************
 * CALCULATOR STYLES
 ***************************************************************************/
.wikipedia {
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 10px; }

.wiki-search {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  width: 300px;
  position: relative; }

.wiki-search-box {
  border: 1px solid #aaaaaa;
  height: 23px; }
.wiki-search-box:focus {
  outline: none; }

.wiki-search-button {
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  position: absolute;
  border: 0 solid #FFF;
  background-color: #FFF;
  right: 90px;
  top: 19px;
  height: 19px;
  width: 19px; }

.wiki-item-link {
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  color: black;
  text-decoration: none;
  line-height: 24px;
  display: block;
  margin: 23px auto;
  width: 80%; }
.wiki-item-link:hover {
  font-weight: 700;
  font-size: 16px; }

#wiki-output {
  background-color: #fff;
  margin: 16px;
  border-radius: 10px;
  height: 320px; }

/***************************************************************************
 * JAVASCRIPT RELATED STYLES
 ***************************************************************************/
a.is-selected {
  font-size: 24px; }
