html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

/**
 * Basic styles
 */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  position: relative; }

h1, h2, h3 {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; }

/**
 * Basic styles for links
 */
a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  line-height: 36px; }
a:hover, a.selected {
  text-decoration: none;
  font-size: 24px; }

/*
 * General subtitles used mostly by h3 tags
 */
.subtitle, .work-subtitle {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 54px;
  margin-top: 54px; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/*
 * Hide elements at small viewport size
 */
.hidden-small {
  display: none; }
@media (min-width: 800px) {
  .hidden-small {
    display: block; } }

/*
 * Hides item
 */
.hidden {
  display: none; }

/*
 * Selects item
 */
.displayed {
  display: inline-block; }

/*
 * Changes the background color from white at small size
 * to black at large size
 */
.white-to-black {
  color: #fff; }
@media (min-width: 800px) {
  .white-to-black {
    color: #000; } }

/*
 * Changes the background color from black at small size
 * to white at large size
 */
.black-to-white {
  color: #000; }
@media (min-width: 800px) {
  .black-to-white {
    color: #fff; } }

.l-panel_superposed, .l-panel_following {
  position: relative;
  width: 100%;
  height: 100vh; }

.l-panel_following {
  height: 200vh; }
@media (min-width: 800px) {
  .l-panel_following {
    height: 100vh; } }

.l-panel-left {
  top: 0;
  position: absolute;
  overflow: scroll;
  width: 100%;
  height: 100vh; }
@media (min-width: 800px) {
  .l-panel-left {
    width: 50%;
    left: 0; } }

.l-panel-right {
  bottom: 0;
  position: absolute;
  overflow: scroll;
  width: 100%;
  height: 100vh; }
@media (min-width: 800px) {
  .l-panel-right {
    width: 50%;
    right: 0; } }

.l-panel-bottom, .l-panel-top {
  position: absolute;
  overflow: scroll;
  width: 100%;
  height: 100vh; }
@media (min-width: 800px) {
  .l-panel-bottom, .l-panel-top {
    width: 50%;
    position: static;
    height: auto;
    top: 0; } }

.l-panel-bottom {
  top: 100vh; }

.footer {
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  line-height: 5vh;
  vertical-align: middle;
  color: #fff;
  background-color: #000;
  font-size: 10.66667px; }
@media (min-width: 450px) {
  .footer {
    font-size: 16px; } }

.carousel-container {
  position: absolute;
  width: 100%;
  max-width: 600px;
  left: 50%;
  transform: translate(-50%); }

.carousel {
  position: relative;
  width: 100%; }

.carousel-item, .carousel-thumbnail {
  width: 100%; }

.carousel-link {
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 36px;
  height: 36px;
  padding: 10px; }

.carousel-arrow {
  fill: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%; }

.carousel-left-link {
  left: 3%;
  transform: translate(0, -50%); }

.carousel-right-link {
  right: 3%;
  transform: translate(0, -50%); }

.header {
  background-color: #000;
  color: #fff;
  overflow: hidden; }

.header-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-grey.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.header-logo {
  z-index: 1;
  top: 33.33%;
  text-align: center; }

.header-title {
  font-size: 36px;
  line-height: 54px; }
@media (min-width: 450px) {
  .header-title {
    font-size: 54px;
    line-height: 81px; } }

.header-subtitle {
  font-size: 16px; }

.work {
  background-color: #fff;
  background-image: linear-gradient(to bottom, #ffffff 50%, #000000 50%); }
@media (min-width: 800px) {
  .work {
    background-image: linear-gradient(to right, #ffffff 50%, #000000 50%); } }

.work-title {
  width: 100%;
  text-align: center;
  font-size: 54px;
  margin: 36px 0; }

@media (min-width: 800px) {
  .work-subtitle {
    width: 50%;
    text-align: left;
    text-indent: 100px; } }

.work-list {
  width: 100%;
  text-align: center; }

.right-container {
  position: relative;
  margin-bottom: 54px; }
@media (min-width: 800px) {
  .right-container {
    position: absolute;
    width: 50%;
    top: 126px;
    left: 100%;
    transform: translate(-100%); } }

.me {
  background-color: #fff;
  background-image: linear-gradient(to bottom, #ffffff 50%, #000000 50%); }
@media (min-width: 800px) {
  .me {
    background-image: linear-gradient(to left, #ffffff 50%, #000000 50%); } }

.contact-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contact.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.contact-list {
  z-index: 1; }

.temp {
  width: 100%;
  text-align: center; }

/* general layout and style
****************************/
.cal-calculator {
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #17191c;
  border-radius: 10px;
  background-color: #f0e6d1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0));
  box-shadow: 2px 4px 4px #0d1526, inset 1px 2px 2px #f9f4ec, inset -1px -2px 2px #f9f4ec; }

.cal-display {
  width: 225px;
  height: 53px;
  margin: 40px auto 40px;
  border: 1px solid black;
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 30px;
  line-height: 51px;
  vertical-align: center;
  text-align: right;
  letter-spacing: -2px;
  background-color: #e5e5e6; }

.cal-sign {
  float: left;
  padding-left: 3px; }

.cal-output {
  float: right;
  padding-right: 3px; }

.cal-key-container {
  width: 225px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

/* buttons layout
****************************/
.cal-button {
  height: 30px;
  width: 40px;
  position: absolute;
  font-size: 17px; }

.cal-first-col {
  left: 0; }

.cal-second-col {
  left: 62px; }

.cal-third-col {
  left: 124px; }

.cal-fourth-col {
  right: 0; }

.cal-first-row {
  top: 0; }

.cal-second-row {
  top: 49px; }

.cal-third-row {
  top: 98px; }

.cal-fourth-row {
  top: 147px; }

.cal-fifth-row {
  bottom: 0; }

.cal-span-two-cols {
  width: 102px; }

.cal-span-two-rows {
  height: 78px; }

/* buttons style
****************************/
.cal-button {
  border-radius: 4px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)); }

.cal-number-keys .cal-button, #equal {
  background-color: #abb0ba; }

.cal-operand-keys .cal-button {
  background-color: #bab5ab; }

.cal-clear {
  background-color: tomato; }

.cal-button:hover {
  cursor: pointer; }

.cal-button:focus {
  outline: 0; }
