// -----------------------------------------------------------------------------
// This file contains all styles related to the Contact of the site/application.
// -----------------------------------------------------------------------------

.contact-title {
	@include big_title;
	@include breakpoint(map-get($break, medium))  {
        width: 50%;
	}
}

.contact-img {
    @include banner-light('contact.jpg');
    z-index: -1;
    @include breakpoint(map-get($break, medium))  {
        @include banner-dark('contact.jpg');
    }
}

.contact-list {
	position: relative;
	z-index: 1;
	width: 66%;
	min-width: 300px;
	max-width: 600px;
	height: auto;
	left: 50%;
	transform: translate(-50%);
	text-indent: $font-size--base;

	@include breakpoint(map-get($break, small))  {
        text-indent: 0;
	}

	@include breakpoint(map-get($break, medium))  {
        width: 33%;
        left: 25%;
	}
}

.contact-item {
	line-height: $font-size--title;
}

.contact-detail {
	line-height: $font-size--title;
	vertical-align: middle;
}

.contact-icon {
	width: $font-size--big;
	height: $font-size--big;
	vertical-align: middle;
}