/***************************************************************************
 * HEADER PANEL STYLES
 ***************************************************************************/

// Main styles

.header {
    background-color: $black;
    color: $white;
    overflow: hidden;
}

.header-logo {
	position: relative;
	text-align: center;
	height: 50vh;
}





// Titles

.header-title,
.header-subtitle {
	position: relative;
	opacity: 0;
    @include filter(blur(20px));
    animation: headerin 2s 2.5s forwards;
}

// Temporary title that disappears after a few seconds
.temp-title {
	position: absolute;
	animation: blurout 1s 2s forwards;
}

.header-title,
.temp-title,
.header-subtitle {
	top: 16.7vh; // 1/6th of the top window of the window
	width: 100%;
    text-align: center;
}

.header-title,
.temp-title {
	font-size: $font-size--big;
	line-height: $font-size--huge;
	
	@include breakpoint(map-get($break, small))  {
	    font-size: $font-size--huge;
	    line-height: $font-size--title;
	}
}

.header-subtitle {
	font-size: $font-size--base;
}





// The small picture and its animation
.header-photo {
	position: relative;
    @include horizontal-center();

	width: 0;
	height: 0;
    opacity: 0;
    max-width: 50vh;
    max-height: 50vh;

	border-radius: 50%;
	border: 6px solid $gray;

    animation: size 3.5s 1s forwards;
}





// Header banner and its overlay (::after) that disappears as part of the intro animation

.header-banner {
    @include banner-dark('banner-grey.jpg');
    @include breakpoint(map-get($break, medium)) {
        @include banner-light('banner-grey.jpg');
    }
}

.header-banner::after {
	position: absolute;
	top: 0;
	right: 0;
	content: " ";
	width: 100%;
	height: 100vh;
	z-index: 5;
	animation: transparency 1s 0.5s forwards;

	background-color: $black;
	@include breakpoint(map-get($break, medium))  {
        background-color: $white;
	}
}




// Animations specific to the header

@keyframes size {
    10% {
    	opacity: 0;
    }

	20% {
		opacity: 1;
		width: 200px;
		height: 200px;
		top: 0;
	}
    80% {
    	opacity: 1;
		width: 200px;
		height: 200px;
		top: 0;
		border: 6px solid $gray;
    }

	100% {
		opacity: 1;
		width: 200px;
		height: 200px;
		top: 0;
		border-color: $bright-orange;
	}
}

@keyframes headerin {
	0% {
		opacity: 0;
	    @include filter(blur(20px));
	}
	66% {
		opacity: 1;
		text-shadow: $white 0 0 5px, $white 0 0 10px, $white 0 0 15px,
		$white 0 0 20px, $white 0 0 30px, $white 0 0 40px; 
		@include filter(blur(20px));
	}
	100% {
		opacity: 1;
		text-shadow: $bright-blue 0 0 5px, $bright-blue 0 0 10px, $bright-blue 0 0 15px,
		$bright-blue 0 0 20px, $bright-blue 0 0 30px, $bright-blue 0 0 40px;
		@include filter(blur(0px));
	}
}






