// -----------------------------------------------------------------------------
// This file contains all styles related to the personal part of the site/application.
// -----------------------------------------------------------------------------

.me {
    background-color: $white;
	background-image: linear-gradient(to bottom, $white 50%, $black 50%);
	@include breakpoint(map-get($break, medium)) {
        background-image: linear-gradient(to left, $white 50%, $black 50%);
	}
}