/***************************************************************************
 * PERSO PANEL STYLES
 ***************************************************************************/

.perso {
    background-color: $white;
	background-image: linear-gradient(to bottom, $white 50%, $black 50%);
	@include breakpoint(map-get($break, medium)) {
        background-image: linear-gradient(to left, $white 50%, $black 50%);
	}
}

.skill-subtitle {
	@include small-title;
	text-align: center;
	color: $bright-orange;
    
    @include breakpoint(map-get($break, large)) {
        text-align: left;
        text-indent: 100px;
    }
}

.about-paragraph,
.skill-paragraph,
.skill-intro {
	line-height: $font-size--large;
	@include margin-center();
	text-align: left;
	text-indent: 2.25em;

	width: 83%;
	@include breakpoint(map-get($break, small)) {
        width: 66%;
	}
	@include breakpoint(map-get($break, medium)) {
        width: 83%;
	}
	@include breakpoint(map-get($break, large)) {
        width: 66%;
	}
}

.about-paragraph {
	margin-bottom: $font-size--base;
}

.skills-list {
	text-align: center;
	line-height: $font-size--large;
	@include breakpoint(map-get($break, large)) {
		text-align: left;
		text-indent: 150px;
    }
}

.perso-img {
	display: block;
	@include margin-center();
	margin-bottom: $font-size--base;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px solid $bright-blue;
	margin-left: auto;
	margin-right: auto;
}

.about-link {
	color: $light-blue;
	text-indent: 0;
	transition: color $trans-duration;

	@include breakpoint(map-get($break, medium)) {
        color: $bright-blue;
	}

	&:hover {
		color: $dark-blue;
	}
}

.certificate {
	width: 100%;
	max-width: 600px;
	z-index: 1001;
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}







