// -----------------------------------------------------------------------------
// This file contains all styles related to the work panel of the site/application.
// -----------------------------------------------------------------------------

.work {
	background-color: $white;
	background-image: linear-gradient(to bottom, $white 50%, $black 50%);
	@include breakpoint(map-get($break, medium)) {
        background-image: linear-gradient(to right, $white 50%, $black 50%);
	}
}

.work-title {
	width: 100%;
	text-align: center;
	font-size: $font-size--huge;
	margin: $font-size--big 0;
}

.work-subtitle {
	width: 100%;
	text-align: center;
	font-weight: $font-weight--bold;
	font-size: $font-size--large;
	line-height: $font-size--huge;
	@include breakpoint(map-get($break, medium)) {
        width: 50%;
        text-align: left;
        text-indent: 100px;
	}
}

.work-list {
	width: 100%;
	text-align: center;
}

.work-second {
	margin-top: $font-size--huge;
}



// Moving content to the right at medium size
.medium-right {
  margin-bottom: $font-size--huge;
  @include breakpoint(map-get($break, medium)) {
    position: absolute;
    top: $font-size--huge + 2 * $font-size--big;
    left: 100%;
    transform: translate(-125%);
  }
}





