// -----------------------------------------------------------------------------
// This file contains all styles related to the work panel of the site/application.
// -----------------------------------------------------------------------------

.work {
	background-color: $white;
	background-image: linear-gradient(to bottom, $white 50%, $black 50%);
	@include breakpoint(map-get($break, medium)) {
        background-image: linear-gradient(to right, $white 50%, $black 50%);
	}
}

.work-list {
	width: 100%;
	text-align: center;
}

.work-subtitle {
    @extend .subtitle;
    @include breakpoint(map-get($break, medium)) {
        width: 50%;
        text-align: left;
        text-indent: 100px;
    }
}

.work-description {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    line-height: $font-size--large;
}

.source-link {
    display: block;
    width: 66%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

// Moving content to the right at medium size
.right-container {
    position: relative;
    margin-bottom: $font-size--huge;
    @include breakpoint(map-get($break, medium)) {
        position: absolute;
        width: 50%;
        top: $font-size--huge + ($font-size--title - $font-size--huge)/2;
        left: 100%;
        transform: translate(-100%);
        background-color: red;
    }
}





