/***************************************************************************
 * WORK PANEL STYLES
 ***************************************************************************/

// Sets the background of the whole panel
.work {
	background-image: linear-gradient(to bottom, $white 50%, $black 50%);
	@include breakpoint(map-get($break, medium)) {
        background-image: linear-gradient(to right, $white 50%, $black 50%);
	}
}





/* titles */

.work-title {
    @extend .section-title;
    width: 50%;
}

.work-subtitle {
    @extend .subtitle;
    @include breakpoint(map-get($break, medium)) {
        width: 50%;
        text-align: left;
        text-indent: 100px;
    }
}

.title-text {
    position: relative;
    bottom: $font-size--large +2px;
}





/* Lists of links */

.work-list {
	width: 100%;
	text-align: center;
    @include breakpoint(map-get($break, medium)) {
        text-align: left;
        text-indent: 75px;
    }
}

.work-list-item {
    position: relative;
}





/* Styling sites thumbnails */

.sites-item {
    position: relative;
    overflow: hidden;
    @include horizontal-center();
    margin-bottom: 50px;
    width: 83%;
    border: 2px solid transparent;
    border-radius: 16px;
    transition: border-color $trans-duration;

    @include breakpoint(map-get($break, large)) {
        width: 66%;
        @include filter(grayscale(100%));
        transition: border-color $trans-duration, filter $trans-duration;
    }

    &:hover {
        border-color: $bright-blue;
        color: $bright-blue;
        filter: none;
    }
}





/* Styling the descriptions */

.work-description,
.widget-description {
    width: 66%;
    @include margin-center();
    line-height: $font-size--large;
    margin-top: $font-size--base;
    margin-bottom: $font-size--base;
    height: 100%;
    max-height: 0;
    overflow: hidden;


    .displayed & {
        animation: growin 2s forwards;
    }
}

.widget-description {
    width: 300px;
    text-align: center;
}



/* Styling work links */

.work-link {
    line-height: $font-size--big;
    transition: font-size $trans-duration, text-indent $trans-duration, color $trans-duration;
}

.work-link:not(.is-selected):hover,
.work-link.is-selected {
    font-size: $font-size--large;
    color: $black;
    text-indent: 75px - ($font-size--large - $font-size--base) / 2;
}

.work-link:not(.is-selected) {
    color: $gray;
}





/* Styling source links */

.source-link {
    position: relative;
    top: -2px;                  // The icon doesn't look centered by default
    display: inline;
    width: $font-size--large;
    text-align: center;
    vertical-align: text-bottom;
    @include breakpoint(map-get($break, medium)) {
        position: absolute;
        left: 250px;
        fill: $black;
        transition: fill $trans-duration;
    }
}

// Mostly magic numbers here...
.work-helper {
    color: black;
    line-height: $font-size--large;
    position: absolute;
    left: 120px;
    top: 9px;
    width: 110px;
    text-indent: 0;
    border: 1px solid $bright-orange;
    border-radius: 6px;
    opacity: 0;
    transition: opacity $trans-duration;
}

.source-link:hover {
    fill: $bright-orange;

    .work-helper {
        opacity: 1;
    }
}



/* Moving content to the right at medium size */

.right-container {
    position: relative;
    margin-bottom: $font-size--huge;
    @include breakpoint(map-get($break, medium)) {
        position: absolute;
        width: 50%;
        top: $font-size--huge + ($font-size--title - $font-size--huge)/2;
        left: 100%;
        transform: translate(-100%);
    }
}












