// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
 
 .footer {
 	height: 10vh;
 	width: 100%;
 	position: absolute;
 	bottom: 0;
 	z-index: 2;
 	text-align: center;
 	line-height: 5vh;
 	vertical-align: middle;
 	color: $white;
 	background-color: $black;
 	font-size: $font-size--small;
 	@include breakpoint(map-get($break, small))  {
        font-size: $font-size--base;
 	}
 }