// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    background-color: $black;
    color: $white;
}

.header-img {
    position: absolute;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
	                  url('#{$base-url}banner-grey.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

	width: 100%;
	height: 100vh;

	@include breakpoint(map-get($break, medium))  {
		width: 50%;
		right: 0;
	}
}

.header-logo {
	position: absolute;
	z-index: 1;
	top: 33.33%;
	text-align: center;
	width: 100%;

	@include breakpoint(map-get($break, medium))  {
		width: 50%;
		left: 0;
	}
}

.header-title {
	font-size: $font-size--big;
	line-height: $font-size--huge;
	
	@include breakpoint(map-get($break, small))  {
	    font-size: $font-size--huge;
	    line-height: $font-size--title;
	}
	

}

.header-subtitle {
	font-size: $font-size--base;
}




