// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    background-color: $black;
    color: $white;
    overflow: hidden; 
}

.header-img {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
	                  url('#{$base-url}banner-grey.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.header-logo {
	z-index: 1;
	top: 33.33%;
	text-align: center;
}

.header-title { 
	font-size: $font-size--big;
	line-height: $font-size--huge;
	
	@include breakpoint(map-get($break, small))  {
	    font-size: $font-size--huge;
	    line-height: $font-size--title;
	}
	

}

.header-subtitle { 
	font-size: $font-size--base;
}




