// -----------------------------------------------------------------------------
// This file contains all styles related to basic layout.
// -----------------------------------------------------------------------------


// Mixin used to pass layout styles to left and right panels
@mixin panel-half {
    width: 100%;
    @include breakpoint(map-get($break, medium))  {
        @content;
    }
}


// A whole panel taking a whole screen
.l-panel_superposed {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.l-panel_following {
    position: relative;
    width: 100%;
    height: 200vh;
    overflow: hidden;
    @include breakpoint(map-get($break, medium))  {
        height: 100vh;
    }
}

// Left half panel
.l-panel-left {
    position: absolute;
    top: 0;
    height: 100vh;
    @include panel-half {
        width: 50%;
    	left: 0;
    }
}

// Right half panel
.l-panel-right {
    position: absolute;
    bottom: 0;
    height: 100vh;
    @include panel-half {
        width: 50%;
    	right: 0;
    }
}







