// -----------------------------------------------------------------------------
// This file contains all styles related to basic layout.
// -----------------------------------------------------------------------------


// Mixin used to pass layout styles to left and right panels
@mixin panel-half {
    position: absolute;
    width: 100%;
    height: 100%;
    @include breakpoint(map-get($break, medium))  {
        @content;
    }
}


// A whole panel taking a whole screen
.l-panel {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: scroll;
}

// Left half panel
.l-panel-left {
    @include panel-half {
        width: 50%;
    	left: 0;
    }
}

// Right half panel
.l-panel-right {
    @include panel-half {
        width: 50%;
    	right: 0;
    }
}







