// -----------------------------------------------------------------------------
// This file contains all styles related to basic layout.
// -----------------------------------------------------------------------------


// Mixin used to pass layout styles to half panels
@mixin panel-half {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    @include breakpoint(map-get($break, medium))  {
        width: 50%;
        @content;
    }
}

// Basic panel layout
%panel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



// A panel in which both sides are superposed at small size
.l-panel_superposed {
    @extend %panel;
}

// A panel in which sides are one after the other at small size
.l-panel_following {
    @extend %panel;
    height: 200vh;
    @include breakpoint(map-get($break, medium))  {
        height: 100vh;
    }
}



// Left half panel, on top
.l-panel-left {
    top: 0;
    @include panel-half {
    	left: 0;
    }
}

// Right half panel
.l-panel-right {
    bottom: 0;
    @include panel-half {
    	right: 0;
    }
}

// top and bottom half panels, in case of interlaced panels
.l-panel-bottom, 
.l-panel-top {
    @include panel-half {
       position: static;
       height: auto;
       top: 0;
    }
}

// Bottom half panel is pushed 100vh down
.l-panel-bottom {
    top: 100vh;
}









