// -----------------------------------------------------------------------------
// This file contains all styles related to the personal part of the site/application.
// -----------------------------------------------------------------------------

.me-skills {
	background-color: $black;
	color: $white;
}

.me-about {
	background-color: $white;
	color: $black;
}