/***************************************************************************
 * GENERAL ANIMATIONS
 ***************************************************************************/





/* fade-in and fade-out */

@keyframes transparency {
	to {
		opacity: 0;
	}
}

@keyframes opacity {
    0% {
    	opacity: 0;
    }
	100% {
		opacity: 1;
	}
}

.fade-out {
	animation: transparency 0.5s ease-in forwards;
}

.fade-out-slow {
	animation: transparency 1s ease-in forwards;
}

.fade-in {
	animation: opacity 0.5s ease-in forwards;
}





/* Blur in and out */

@keyframes blurin {
	0% {
		opacity: 0;
	    @include filter(blur(20px));
	}
	100% {
		opacity: 1;
		@include filter(blur(0px));
	}
}

@keyframes blurout {
	0% {
		opacity: 1;
	    @include filter(blur(0px));
	}
	100% {
		opacity: 0;
		@include filter(blur(20px));
	}
}

.blur-in {
	animation: blurin 1s forwards;
}

.blur-out {
	animation: blurout 1s forwards;
}





/* Fade and appear left */

@keyframes fadeleft {
	0% {
    	opacity: 1;
    	left: 0;
    }
	100% {
		opacity: 0;
		left: -200px;
	}
}

@keyframes appearleft {
    0% {
    	opacity: 0;
    	left: 200px;
    }

	100% {
		opacity: 1;
		left: 0;
	}
}

.fade-left {
	animation: fadeleft 0.5s ease-in forwards;
}

.appear-left {
	animation: appearleft 0.5s ease-out forwards;
}





/* Fade and appear right */

@keyframes faderight {
	0% {
    	opacity: 1;
    	right: 0;
    }
	100% {
		opacity: 0;
		right: -200px;
	}
}

@keyframes appearright {
    0% {
    	opacity: 0;
    	right: 200px;
    }

	100% {
		opacity: 1;
		right: 0;
	}
}

.fade-right {
	animation: faderight 0.5s ease-in forwards;
}

.appear-right {
	animation: appearright 0.5s ease-out forwards;
}





/* Fade down and appear up */

@keyframes fadedown {
	0% {
    	opacity: 1;
    	top: 0;
    }
	100% {
		opacity: 0;
		top: 200px;
	}
}

@keyframes appearup {
    0% {
    	opacity: 0;
    	top: -200px;
    }

	100% {
		opacity: 1;
		top: 0;
	}
}

.fade-down {
	animation: fadedown 0.5s ease-in forwards;
}

.appear-up {
	animation: appearup 0.5s ease-out forwards;
}





/* growing in */

@keyframes growin {
	0% {
		opacity: 0;
		max-height: 0px;
	}
	100% {
		opacity: 1;
		max-height: 500px;
	}
}









