/***************************************************************************
 * GENRAL ANIMATIONS
 ***************************************************************************/

@keyframes transparency {
	to {
		opacity: 0;
	}
}

@keyframes opacity {
	to {
		opacity: 1;
	}
}

@keyframes blurout {
	0% {
		opacity: 1;
	    filter: blur(0px);
	}
	100% {
		opacity: 0;
		filter: blur(20px);
	}
}