// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; 
}


/**
 * Basic styles
 */
body {
	font-family: $font-family--text;
  position: relative;
}

h1, h2, h3 {
    font-family: $font-family--titles;
}



/**
 * Basic styles for links
 */
a {
  color: $black;
  display: inline-block;
  text-decoration: none;
  line-height: $font-size--big;

  &.selected {
    font-size: $font-size--large;  
  }
} 

/*
 * Basic button styles
 */

button {
  outline: none;
  cursor: pointer;
}




