/***************************************************************************
 * BASE STYLES
 ***************************************************************************/





/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}





/**
 * Basic styles
 */
body {
	font-family: $font-family--text;
  position: relative;
}

h1, h2, h3 {
    font-family: $font-family--titles;
}

q {
  font-style: italic;
  font-weight: $font-weight--thin;

  &:before {
    content:"\201C";
  }

  &:after {
    content: "\201D";
  }
}

span {
  vertical-align: middle;
}





/*
 * Basic positions
 */

section, header{
  position: relative;
}





/**
 * Basic styles for links
 */
a {
  color: $black;
  display: inline-block;
  text-decoration: none;
} 





/*
 * Basic button styles
 */

button {
  outline: none;
  cursor: pointer;
}




