// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; 
}


/**
 * Basic typography
 */
body {
	font-family: $font-family--text;
  position: relative;
}

h1, h2, h3 {
    font-family: $font-family--titles;
}



/**
 * Basic styles for links
 */
a {
  color: $black;
  display: inline-block;
  text-decoration: none;
  line-height: $font-size--big;

  &:hover {
    text-decoration: none;
    font-size: $font-size--large;  
  }
} 


/*
 * General subtitles used mostly by h3 tags
 */

.subtitle {
  width: 100%;
  text-align: center;
  font-weight: $font-weight--bold;
  font-size: $font-size--large;
  line-height: $font-size--huge;
  margin-top: $font-size--huge;
}




