// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/*
 * Hide elements at small viewport size
 */
.hidden-small {
  display: none;
  @include breakpoint(map-get($break, medium)) {
    display: block;
  }
}

/*
 * Hide elements at small viewport size
 */
.hidden-medium {
  display: block;
  @include breakpoint(map-get($break, medium)) {
    display: none;
  }
}

/*
 * Hides item
 */
.hidden {
  display: none;
}

/*
 * Selects item
 */

 .displayed {
  display: inline-block;
 }

/*
 * Changes the background color from white at small size
 * to black at large size
 */
.white-to-black {
  color: $white;
  @include breakpoint(map-get($break, medium)) {
      color: $black;
  }
}

/*
 * Changes the background color from black at small size
 * to white at large size
 */
.black-to-white {
  color: $black;
  @include breakpoint(map-get($break, medium)) {
      color: $white;
  }
}









