/***************************************************************************
 * HELPERS STYLES
 ***************************************************************************/

/* Styles used for hiding or showing elements
***************************************************/

/*
 * Hide elements at small viewport size
 */
.is-hidden-small {
  display: none;
  @include breakpoint(map-get($break, medium)) {
    display: block;
  }
}

/*
 * Hide elements at small viewport size
 */
.is-hidden-medium {
  display: block;

  @include breakpoint(map-get($break, medium)) {
    display: none;
  }
}

/*
 * Hides item
 */
.is-hidden {
  display: none;
}

/*
 * Displays item
 */

 .is-displayed {
  display: inline-block;
 }





/* Styles used for modifying colours
***************************************************/

/*
 * White text or svg
 */
.white {
  color: $white;
  fill: $white;

  .no-gradients & {
    color: $black;
  }
}

/*
 * Black text or svg
 */
.black {
  color: $black;
  fill: $black;
}

/*
 * Changes the background color from white at small size
 * to black at large size
 */
.white-to-black {
  color: $white;
  @include breakpoint(map-get($break, medium)) {
      color: $black;
  }

  .no-gradients & {
    color: $black;
  }
}

/*
 * Changes the background color from black at small size
 * to white at large size
 */
.black-to-white {
  color: $black;
  @include breakpoint(map-get($break, medium)) {
      color: $white;
  }

  .no-gradients & {
    color: $black;
  }
}








