// -----------------------------------------------------------------------------
// This file contains all styles related to the dropdown component.
// -----------------------------------------------------------------------------

.carousel-container {
    width: 66%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(map-get($break, medium))  {
        width: 33%;
    }
}

.carousel-item, .carousel-thumbnail {
	width: 100%;
}
