/***************************************************************************
 * CAROUSEL STYLES
 ***************************************************************************/

.carousel-container {
	position: absolute;
	width: 100%;
}

.carousel,
.carousel-item,
.carousel-thumbnail {
	position: relative;
	width: 100%;
}

// Aligns the item with the main section title
.carousel-item {
	@include breakpoint(map-get($break, medium)) {
	    margin-top: $font-size--base;
	}
}






/* Styles the arrows for small viewports */

.carousel-nav {
	position: absolute;
	width: 300px;
	top: 93px;  // Magic number
	z-index: 10;
	@include horizontal-center();
}

.carousel-left-link,
.carousel-right-link {
	position: absolute;
	width: $font-size--big;
	height: $font-size--big;
	padding: 10px 0;
}

.carousel-left-link {
    left: 0;
}

.carousel-right-link {
    right: 0;
}










