/***************************************************************************
 * NAVIGATION INDICATOR STYLES
 ***************************************************************************/





// Vertical indicator, displayed in the middle of the screen at large viewport
.indicator-container {
	display: none;
	@include breakpoint(map-get($break, medium)) {
		display: block;
		position: fixed;
	    height: 100vh;
	    width: $font-size--x-small;
	    z-index: 1000;
        @include horizontal-center();
        background-color: $gray;
	}
}

// Slider whose height is calculated by javascript (indicator.js)
.indicator-slider {
	position: fixed;
	top: 0%;
	width: $font-size--x-small; // can't take 100% on older browser on a fixed element
	height: 0%;
	background-color: $light-gray;
}





// Page numbering showing only at small viewport

.page-indicator {
	position: fixed;
	top: $font-size--base;
	right: $font-size--base;
	color: $gray;
	z-index: 1;
	@include breakpoint(map-get($break, medium)) {
		display: none;
	}
}








