/***************************************************************************
 * TITLES STYLES
 ***************************************************************************/

@mixin big_title {
  width: 100%;
  text-align: center;
  font-size: $font-size--huge;
  line-height: $font-size--title;
}

@mixin small_title {
  font-weight: $font-weight--bold;
  font-size: $font-size--large;
  line-height: $font-size--title;
}





// Some generic types of titles, extended by some more specific ones on different pages

.section-title {
	@include big_title;
  margin-top: $font-size--base;
}

.subtitle {
  @include big_title;
  @include breakpoint(map-get($break, medium)) {
    @include small_title;
    margin-top: 0;
  }
}

.elem-title {
  @include small_title;
  text-align: center;

  // Fixes a vertical alignment discrepancy between IE and other browsers
  .ie11 &,
  .ie10 & {
    position: relative;
    top: 0 - $font-size--small;
  }
}