/////////////////////////////////////////////////////////////////////////////
// SASS MIXINS
/////////////////////////////////////////////////////////////////////////////





// Positions and adds effect to a banner image
@mixin banner-dark($image) {
    background-image: url('#{$base-url}#{$image}');  // Fallback for browsers with no gradients
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
                      url('#{$base-url}#{$image}');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin banner-light($image) {
    background-image: url('#{$base-url}#{$image}');  // Fallback for browsers with no gradients
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.7)),
                      url('#{$base-url}#{$image}');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}





// Centers an absolutely positioned element vertically or horizontally
@mixin horizontal-center() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin vertical-center() {
  top: 50%;
  transform: translateY(-50%);
}

// Centers an element using margins auto :
@mixin margin-center() {
  margin-left: auto;
  margin-right: auto;
}












