/////////////////////////////////////////////////////////////////////////////
// SASS VARIABLES
/////////////////////////////////////////////////////////////////////////////





// COMPASS VARIABLES
// -----------------------------------------------------------------------------

// No support for IE before 8 and firefox before 3.5

$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;





// FONTS
// -----------------------------------------------------------------------------

// Font Stacks

$font-family--titles: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$font-family--text  : 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;

// Font Weights

$font-weight--thin       : 100 !default;
$font-weight--light      : 300 !default;
$font-weight--medium     : 400 !default;
$font-weight--bold       : 700 !default;
$font-weight--ultra-bold : 900 !default;

// Font Sizes

$font-size--base       : 16px !default;
$font-size--small      : $font-size--base / 1.5 !default;
$font-size--x-small    : $font-size--base / (1.5 * 1.5) !default;

$font-size--large      : $font-size--base * 1.5 !default;
$font-size--big        : $font-size--base * 1.5 * 1.5 !default;
$font-size--huge       : $font-size--base * 1.5 * 1.5 * 1.5 !default;
$font-size--title      : $font-size--base * 1.5 * 1.5 * 1.5 * 1.5 !default;





// COLORS
// -----------------------------------------------------------------------------

$white     : #fff !default;
$black     : #000 !default;
$gray      : #999 !default;
$light-gray: #DDD !default;

$bright-orange: #ff8000 !default; // hsla(30, 100%, 50%, 1)
$bright-blue  : #007fff !default; // hsla(210, 100%, 50%, 1)

$dark-orange  : darken($bright-orange, 20%);
$dark-blue    : darken($bright-blue, 20%);
$light-orange : lighten($bright-orange, 20%);
$light-blue   : lighten($bright-blue, 20%);





// MEDIA QUERIES
// -----------------------------------------------------------------------------

/// Breakpoints map

$break: (
  small:  450px,
  medium: 800px,
  large:  1200px,
  huge:   1500px
) !default; 






// RANDOM STUFF
// -----------------------------------------------------------------------------

// Transitions

$trans-duration  : 0.3s;

// $base-url: 'http://cdn.example.com/assets/';
$base-url: '../images/' !default;





